button {
  &:hover {
    cursor: pointer;
  }
  &:focus, &:active {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.styled-button {
  display: inline-block;
  border-radius: 36px;
  background-color: $primary;
  padding: 10px 20px;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;

  @include media-down(mobile) {
    min-width: 190px;
    padding: 8px 20px;
  }

  span {
    display: block;
    width: 100%;
    color: $white;
    font-size: 14px;
    font-size: $font-weight-bold;
    text-align: center;
  }

  &:hover {
    background-color: darken($primary, 10%);
    cursor: pointer;
  }

  &:focus, &:active {
    outline: none;
  }
}
