body {
  @include body-font();
  color: $off-black;
  line-height: 1.1em;
}

// --------------------------------------------------------------------------
//   Headings
// --------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings-font();
  color: $off-black;
  line-height: 1.5em;
}

//[14, 16, 20, 24, 36, 44, 64, 80]

h1 {
  font-size: 80px;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {
  @include headings-font();
  line-height: 1.5em;
}
