.home-hero {
  background-color: $primary;
  background-image: url('../assets/images/grid-background.svg');
  background-size: 100%;
  background-repeat: repeat;
  background-position: top;
  padding: 80px 40px 120px;

  @include media-down(tablet) {
    padding: 60px 40px 80px;
  }

  @include media-down(mobile) {
    padding: 60px 20px 0 0 ;
  }

  .wrapper {
    @include media-down(small-mobile) {
      padding: 0 0 0 20px;
    }
  }

  .container {
    position: relative;

    .inner-container {
      background-color: $off-white;
      padding: 120px 80px 100px;
      position: relative;
      z-index: 2;

      @include media-down(mobile) {
        padding: 80px 40px 60px;
      }

      @include media-down(small-mobile) {
        padding: 60px 20px 40px;
      }

      .magic-command {
        display: block;
        color: $primary;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-bottom: 30px;

        @include media-down(mobile) {
          display: none;
        }
      }

      .title {
        margin-bottom: 50px;

        @include media-down(mobile) {
          margin-bottom: 30px;
        }

        @include media-down(small-mobile) {
          text-align: center;
        }
      }

      .subtitle {
        font-size: 24px;
        font-weight: $font-weight-medium;
        color: #333333;
        margin-bottom: 80px;

        @include media-down(tablet) {
          margin-bottom: 60px;
        }

        @include media-down(mobile) {
          font-size: 16px;
          margin-bottom: 40px;
        }

        p {
          margin-bottom: 10px;

          @include media-down(mobile) {
            margin-bottom: 5px;
          }

          @include media-down(small-mobile) {
            text-align: center;
          }
        }
      }

      .navigation-buttons {
        display: flex;
        flex-direction: row;

        @include media-down(mobile) {
          flex-direction: column;
        }

        @include media-down(small-mobile) {
          align-items: center;
        }

        .nav-button {
          margin-right: 15px;

          @include media-down(mobile) {
            margin-right: 0;
            margin-bottom: 10px;
          }

          &:last-child {
            margin-right: 0;
          }

          .styled-button {

          }
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: calc(100%);
      top: 0;
      left: 0;
      transform: translateX(30px) translateY(30px);
      z-index: 1;
      background-color: $primary-lighter;

      @include media-down(mobile) {
        height: calc(100% + 20px);
        transform: translateX(20px) translateY(-20px);
      }
    }
  }
}

.home-body {
  padding: 120px 0;

  @include media-down(mobile) {
    padding: 60px 0;
  }

  .body-section {
    padding: 0 80px;
    margin-bottom: 20px;

    @include media-down(tablet) {
      padding: 0 120px;
    }

    @include media-down(mobile) {
      padding: 0 40px;
    }

    @include media-down(small-mobile) {
      padding: 0;
    }
  }

  .section-title {
    border-bottom: 2px solid $grey;
    padding: 30px 0 20px;
    margin-bottom: 30px;
  }
}
